{% extends "base.html" %}
{% load static %}
{% block body %}
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">About Us</span></h2>
    </div>
    <div class="row px-xl-5">
        <div class="col-md-6 mb-5">
            <h2 class="font-weight-semi-bold mb-3">We Are Your Favourite Store.</h2>
            <p>Shri Ganesh Gruh Udyog began its journey with the mission of providing quality and hygienic snacks to its customers. Shri Ganesh Gruh Udyog, under the brand Yash Papad, is leaders in manufacturing of Papad, Mathiya and Chorafali & Namkeens. With its contemporary manufacturing facilities and authentic recipes, Yash Papad has set a new benchmark in the market.
                <br><br>
                Over the years of experience and expertise, Yash papad has emerged as one of the most trusted name in its segment. With its ultra-modern manufacturing unit, Yash papad produces countries most delicious and preferred papad. Under the strictest quality control and international hygiene standards, yashpapad takes every care to maintain the benchmark that it has set.
                <br><br>
                With a wide variety of delicious savors, Yash Papad has something to please all types of taste buds. Yash Papad is not only loved in India, but it is also preferred in the overseas market as well. Yash papad has continued its legacy in the international market by being a most trusted name in the countries like Australia, Africa, Canada, Dubai, Kuwait and in other regions of Gulf and Europe.
                <br><br>
                Yash papad pledges to serve its customers with the best Papad, Mathiya and Chorafali. With its irresistible taste and flavors, Shri Ganesh Gruh Udhyog takes every care of providing all the customers with best Papads, Mathiyas and Chorafali across the county and beyond.</p>
                <em><h5 class="font-weight-semi-bold mb-3">
                    "We believe that a positive and significant impact can only be made after years of learning and perfecting the trade. By using the best quality ingredients in the market, and top-notch hygiene measures, we look to earn the trust of our customers and delighting them with unique palatable experiences."</h5></em>
        </div>
        <div class="col-md-6 mb-5">
            <h5 class="font-weight-semi-bold mb-3">Our Managing director, Mr Rushil Patel</h5>
            <div class="d-flex flex-column mb-3">
                <img class="img-fluid"  src={% static "img/rus.jpeg" %} alt="Image">
                

            </div>
        </div>
    </div>
</div>
{% endblock body %}