{% extends "base.html" %}
{% load static %}

{% block body %}
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Contact Us</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Contact</p>
            </div>
        </div>
    </div>
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Contact For Any Queries</span></h2>
        </div>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="contact-form">
                    <div id="success"></div>
                    <form name="sentMessage" id="contactForm" novalidate="novalidate">
                        <div class="control-group">
                            <input type="text" class="form-control" id="name" placeholder="Your Name"
                                required="required" data-validation-required-message="Please enter your name" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="email" class="form-control" id="email" placeholder="Your Email"
                                required="required" data-validation-required-message="Please enter your email" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control" id="subject" placeholder="Subject"
                                required="required" data-validation-required-message="Please enter a subject" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <textarea class="form-control" rows="6" id="message" placeholder="Message"
                                required="required"
                                data-validation-required-message="Please enter your message"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div>
                            <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Send
                                Message</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5 mb-5">
                <h5 class="font-weight-semi-bold mb-3">Get In Touch</h5>
                <p>Get in touch with us</p>
                <div class="d-flex flex-column mb-3">
                    <h5 class="font-weight-semi-bold mb-3">Store </h5>
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>C/O SHRI GANESH GRUH UDYOG
                        Opp. C.G.General Hospital, Near Bus Stand,
                        UTTARSANDA – 387 370 Gujarat.</p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>yashpapad@yahoo.co.in</p>
                    <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>+91 9016924794</p>
                    <p class="mb-2"><i style="visibility:hidden" class="fa fa-phone-alt text-primary mr-3"></i>+91 9904663563</p>

                </div>
            </div>
        </div>
    </div>


        
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Locate us</span></h2>
        </div>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5 container-fluid">
                <div class="contact-form">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14727.844586039768!2d72.88623291738281!3d22.65523719999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e5ab49ca3df41%3A0x95b3ddf964a7580f!2sYASH%20PAPAD!5e0!3m2!1sen!2sin!4v1694924082892!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}