{% extends "base.html" %}
{% load static %}
{% block carousel %}
<div id="header-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" style="background:linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)); height: 410px;">
            <img class="img-fluid"  src={% static "img/bg2.jpeg" %} alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 700px;">
                    
                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Quality food</h3>
                    <a href="/shop" class="btn btn-light py-2 px-3">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="carousel-item" style="background:linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)); height: 410px;">
            <img class="img-fluid" src={% static "img/bg.jpeg" %} alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <div class="p-3" style="max-width: 700px;">
                    <h3 class="display-4 text-white font-weight-semi-bold mb-4">Pan India delivery</h3>
                    <a href="/shop" class="btn btn-light py-2 px-3">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
        <div class="btn btn-dark" style="width: 45px; height: 45px;">
            <span class="carousel-control-prev-icon mb-n2"></span>
        </div>
    </a>
    <a class="carousel-control-next" href="#header-carousel" data-slide="next">
        <div class="btn btn-dark" style="width: 45px; height: 45px;">
            <span class="carousel-control-next-icon mb-n2"></span>
        </div>
    </a>
</div>
{% endblock carousel %}
{% block body %}
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Premium Quality</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-0">Fresh Deliveries</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fas fa-cookie text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Authentic Taste</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center border mb-4" style="padding: 30px;">
                <h1 class="fa fa-plane-departure text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Export</h5>
            </div>
        </div>
    </div>
</div>
<!-- Featured End -->


<!-- Categories Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-4 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <p class="text-right">25 Products</p>
                <a href="" class="cat-img position-relative overflow-hidden mb-3">
                    <img style="max-height:200px;" class="img-fluid" src={% static "img/namkeen.jpg" %} alt="">
                </a>
                <h5 class="font-weight-semi-bold m-0">Namkeen</h5>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <p class="text-right">11 Products</p>
                <a href="" class="cat-img position-relative overflow-hidden mb-3">
                    <img style="max-height:200px;" class="img-fluid" src={% static "img/papad.jpg" %} alt="">
                </a>
                <h5 class="font-weight-semi-bold m-0">Papad</h5>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 pb-1">
            <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                <p class="text-right">3 Products</p>
                <a href="" class="cat-img position-relative overflow-hidden mb-3">
                    <img style="max-height:200px;" class="img-fluid" src={% static "img/mathi.png" %} alt="">
                </a>
                <h5 class="font-weight-semi-bold m-0">Mathiya & Chorafali</h5>
            </div>
        </div>
    </div>
</div>
<!-- Categories End -->


<!-- Offer Start -->
<div class="container-fluid offer pt-5">
    <div class="row px-xl-5">
        <div class="col-md-4 pb-4">
            <div class="position-relative bg-secondary text-center text-md-right text-white mb-2 py-5 px-5">
                {% comment %} <img src={% static "img/papad.png" %} alt=""> {% endcomment %}
                <div class="position-relative" style="z-index: 1;">
                    <h5 class="text-uppercase text-primary mb-3">Papad</h5>
                    <h6 class="mb-4">"10 Delicious Papad Flavors - Crispy &Traditional!"</h6>
                    <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 pb-4">
            <div class="position-relative bg-secondary text-center text-md-right text-white mb-2 py-5 px-5">
                {% comment %} <img src={% static "img/namkeen.png" %} alt=""> {% endcomment %}
                <div class="position-relative" style="z-index: 1;">
                    <h5 class="text-uppercase text-primary mb-3">Namkeens</h5>
                    <h6 class="mb-4 font-weight-semi-bold">"Spice Up Tea Time with Our Lovingly Made Namkeen!"</h6>
                    <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 pb-4">
            <div class="position-relative bg-secondary text-center text-md-left text-white mb-2 py-5 px-5">
                {% comment %} <img src={% static "img/namkeen.png" %} alt=""> {% endcomment %}
                <div class="position-relative" style="z-index: 1;">
                    <h5 class="text-uppercase text-primary mb-3">Mathiya & Chorafali</h5>
                    <h6 class="mb-4 font-weight-semi-bold">"Gujarati Delights: Mathiya & Chorafali – Perfect for Tea and Guests!"</h6>
                    <a href="" class="btn btn-outline-primary py-md-2 px-md-3">Shop Now</a>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- Offer End -->


<!-- Products Start -->
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Trending Products</span></h2>
    </div>
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <img class="img-fluid w-100" src={% static "img/ratlami.png" %} alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">Ratlami Sev 400g</h6>
                    <div class="d-flex justify-content-center">
                        <h6>Rs 152.00</h6><h6 class="text-muted ml-2"><del>Rs 223.00</del></h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between bg-light border">
                    <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                    <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <img class="img-fluid w-100" src={% static "img/moong.png" %} alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">Bhadran moong 400g</h6>
                    <div class="d-flex justify-content-center">
                        <h6>Rs 123.00</h6><h6 class="text-muted ml-2"><del>Rs 53.00</del></h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between bg-light border">
                    <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                    <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <img class="img-fluid w-100" src={% static "img/moong.png" %} alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">Bhadran moong 400g</h6>
                    <div class="d-flex justify-content-center">
                        <h6>Rs 123.00</h6><h6 class="text-muted ml-2"><del>Rs 53.00</del></h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between bg-light border">
                    <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                    <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="card product-item border-0 mb-4">
                <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                    <img class="img-fluid w-100" src={% static "img/moong.png" %} alt="">
                </div>
                <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                    <h6 class="text-truncate mb-3">Bhadran moong 400g</h6>
                    <div class="d-flex justify-content-center">
                        <h6>Rs 123.00</h6><h6 class="text-muted ml-2"><del>Rs 53.00</del></h6>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between bg-light border">
                    <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                    <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Products End -->


<!-- Subscribe Start -->
<div class="container-fluid bg-secondary my-5">
    <div class="row justify-content-md-center py-5 px-xl-5">
        <div class="col-md-6 col-12 py-5">
            <div class="text-center mb-2 pb-2">
                <h2 class="section-title px-5 mb-3"><span class="bg-secondary px-2">Stay Updated</span></h2>
                <p>Get to know about latest offers and new arrivals</p>
            </div>
            <form action="">
                <div class="input-group">
                    <input type="text" class="form-control border-white p-4" placeholder="Email Goes Here">
                    <div class="input-group-append">
                        <button class="btn btn-primary px-4">Subscribe</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Subscribe End -->


<!-- Products Start -->

<!-- Products End -->


<!-- Vendor Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="vendor-item border p-4">
                    <img src={% static "img/can1.jpg" %} alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src={% static "img/can2.jpg" %} alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src={% static "img/can3.jpeg" %} alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src={% static "img/can4.jpg" %} alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src={% static "img/can5.jpeg" %} alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src={% static "img/can6.jpeg" %} alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src={% static "img/can1.jpg" %} alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src={% static "img/can2.jpg" %} alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Vendor End -->

{% endblock body %}